/**
    * sass/parts/listings.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

.listing {
    // GLOBAL
        padding: $padding-sm $padding-xs;
        border-bottom: 1px solid $color-grayscale-dark-12;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE

    &-newsroom {
        // GLOBAL
            @extend .listing;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE

        .elementor-section > .elementor-container {
            // GLOBAL
                padding: $padding-none;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //.ELEMENTOR-CONTAINER

        .elementor-widget {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            // BROWSERS
                @media #{$browser-ie} {} //IE

            &:not(:last-child) {
                // GLOBAL
                    margin-bottom: $margin-none;

                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //MOBILE

                // DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                // BROWSERS
                    @media #{$browser-ie} {} //IE
            } //:NOT:LAST-CHILD


        } //.ELEMENTOR-WIDGET

        .elementor-widget-heading {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            // BROWSERS
                @media #{$browser-ie} {} //IE

            &.date {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //MOBILE

                // DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                // BROWSERS
                    @media #{$browser-ie} {} //IE

                #{$text-headings-all}.elementor-heading-title {
                    // GLOBAL
                        font-family: $body-text;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: $body-text-color;
                        margin: $margin-none !important;

                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //MOBILE

                    // DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    // BROWSERS
                        @media #{$browser-ie} {} //IE
                } //TEXT-HEADINGS-ALL
            } //.DATE

            &.title {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //MOBILE

                // DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                // BROWSERS
                    @media #{$browser-ie} {} //IE

                #{$text-headings-all}.elementor-heading-title {
                    // GLOBAL
                        margin: $margin-none;
                        
                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //MOBILE

                    // DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    // BROWSERS
                        @media #{$browser-ie} {} //IE
                } //TEXT-HEADINGS-ALL
            } //.TITLE
        } //.ELEMENTOR-WIDGET-HEADING
    } //.LISTING-NEWSROOM
} //.LISTING