/**
    * sass/theme/layouts/site.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

* {
    // GLOBAL
        box-sizing: border-box;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE
} //*

html {
    // GLOBAL
        height: 100.00%;
        width: 100.00vw;
        position: relative;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE
} //HTML

body {
    // GLOBAL
        height: 100.00%;
        width: 100.00%;
        position: relative;
        margin: $margin-none;
        padding: $padding-none;
        background-color: $body-background-color;
        font-family: $body-text;
        font-weight: $body-text-weight;
        letter-spacing: $letter-spacing-normal;
        text-align: left;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $body-text-color;

    // MOBILE
        @media #{$screen-xs} {
            font-size: $font-size-phone;
        } //.COL-XS
        @media #{$screen-sm} {
            font-size: $font-size-phone;
        } //.COL-SM
        @media #{$screen-md} {
            font-size: $font-size-tablet;
        } //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {
            font-size: $font-size-desktop;
        } //.COL-LG
        @media #{$screen-xl} {
            font-size: $font-size-desktop;
        } //.COL-XL
        @media #{$screen-xxl} {
            font-size: $font-size-desktop;
        } //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE
} //BODY