/**
    * sass/theme/layouts/wrappers.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

.wrapper {
    // GLOBAL
        margin: 0.00rem auto;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE

    &-full {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            min-width: 100.00%;
            max-width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE

        &-screen {
            // GLOBAL
                @extend .wrapper-full;
                height: 100.00vh;
                min-height: 100.00vh;
                max-height: 100.00vh;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //.WRAPPER-FULL-SCREEN
    } //.WRAPPER-FULL

    &-content {
        // GLOBAL
            @extend .wrapper;
            width: $site-width-min;
            max-width: $site-width-content !important;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                width: 100.00%;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-CONTENT

    &-header {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                padding: $padding-xs $body-mobile-gutter;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {
                padding: $padding-sm $padding-none;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-HEADER

    &-footer {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                padding: $padding-xs $body-mobile-gutter;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {
                padding: $padding-sm $padding-none;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-FOOTER

    &-hero {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                padding: $padding-md $body-mobile-gutter;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {
                padding: $padding-lg $padding-none;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-HERO

    &-section {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                padding: $padding-md $body-mobile-gutter;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {
                padding: $padding-md $padding-none
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-SECTION

    &-banner {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                padding: $padding-md;
            } //MOBILE

        // DESKTOP
            @media #{$screen-lg} {
                padding: $padding-lg;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-BANNER

    &-none {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            padding: $padding-none;
            
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //.WRAPPER-NONE

} //.WRAPPER