/**
    * sass/pages/filings-docs.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

body#filings {
    // GLOBAL
    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    // BROWSERS
        @media #{$browser-ie} {} //IE
} //#FILINGS